In [1]:
from bs4 import BeautifulSoup as soup
import pandas as pd
import numpy as np
import requests
import re

In [2]:
url="https://www.imdb.com/search/title/?groups=top_250&sort=user_rating"
response=requests.get(url)

In [3]:
data=soup(response.text,"html.parser")

In [4]:
container=data.findAll('div',{'class':'lister-item mode-advanced'})

In [5]:
final=pd.DataFrame()
for i in range(1,250,50):
    url="https://www.imdb.com/search/title/?groups=top_250&sort=user_rating,desc&start={}&ref_=adv_nxt".format(i)
    response=requests.get(url)
    data=soup(response.text,"html.parser")
    container=data.findAll('div',{'class':'lister-item mode-advanced'})
    movies=[]
    year=[]
    genre=[]
    rating=[]
    director=[]
    cast=[]
    votes=[]
    for i in container:
        tit=i.findAll('h3',{'class':'lister-item-header'})[0].find('a')
        movies.append(tit.text)
        y=i.findAll('h3',{'class':'lister-item-header'})[0].find('span',{'class':'lister-item-year text-muted unbold'})
        year.append(y.text.replace('(','').replace(')',''))
        gen=i.findAll('span',{'class':'genre'})[0]
        genre.append(gen.text.strip())
        rat=i.findAll("div",{'class':'inline-block ratings-imdb-rating'})[0].text.strip()
        rating.append(rat)
        dir=i.findAll('p',{'class':''})[0]
        director.append(dir.a.text)
        star=i.findAll('p',{'class':''})[0].text.split('|')[1].split(':')[1]
        cast.append(star)
        vote=i.findAll('span',{'name':'nv'})[0].text
        votes.append(vote)
    new_list = [item.replace('\r', '').replace('\n', '') for item in cast]
    dict={"Movies Name":movies,'Year':year,'Genre':genre,'Rating':rating,'Director':director,'Cast':new_list,'Vote':votes}
    df=pd.DataFrame(dict)
    final=final.append(df)

C:\Users\risha\AppData\Local\Temp\ipykernel_21832\2990029240.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df)
C:\Users\risha\AppData\Local\Temp\ipykernel_21832\2990029240.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df)
C:\Users\risha\AppData\Local\Temp\ipykernel_21832\2990029240.py:32: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  final=final.append(df)

In [6]:
final

,Movies Name,Year,Genre,Rating,Director,Cast,Vote
0,The Shawshank Redemption,1994,Drama,9.3,Frank Darabont,"Tim Robbins, Morgan Freeman, Bob Gunton, Willi...","2,664,802"
1,The Godfather,1972,"Crime, Drama",9.2,Francis Ford Coppola,"Marlon Brando, Al Pacino, James Caan, Diane Ke...","1,846,711"
2,The Dark Knight,2008,"Action, Crime, Drama",9.0,Christopher Nolan,"Christian Bale, Heath Ledger, Aaron Eckhart, M...","2,637,790"
3,The Lord of the Rings: The Return of the King,2003,"Action, Adventure, Drama",9.0,Peter Jackson,"Elijah Wood, Viggo Mortensen, Ian McKellen, Or...","1,837,170"
4,Schindler's List,1993,"Biography, Drama, History",9.0,Steven Spielberg,"Liam Neeson, Ralph Fiennes, Ben Kingsley, Caro...","1,349,371"
...,...,...,...,...,...,...,...
45,Mr. Smith Goes to Washington,1939,"Comedy, Drama",8.1,Frank Capra,"James Stewart, Jean Arthur, Claude Rains, Edwa...","116,232"
46,It Happened One Night,1934,"Comedy, Romance",8.1,Frank Capra,"Clark Gable, Claudette Colbert, Walter Connoll...","104,625"
47,The Incredibles,2004,"Animation, Action, Adventure",8.0,Brad Bird,"Craig T. Nelson, Samuel L. Jackson, Holly Hunt...","735,542"
48,Aladdin,1992,"Animation, Adventure, Comedy",8.0,Ron Clements,"Scott Weinger, Robin Williams, Linda Larkin, J...","419,726"
49,Life of Brian,1979,Comedy,8.0,Terry Jones,"Graham Chapman, John Cleese, Michael Palin, Te...","400,250"

In [7]:
final.to_csv('IMDB TOP 100 MOVIES.csv',index=False)